<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DATA.GOV.NG</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    
    
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>     
    <![endif]-->

    
  </head>
  <body>
      <header class="jumbotron jumboHead">
        <div class="container">

            <div class="logo"><img src="/images/mict-logo.png" ></div>
            <div class="heading"><span class="brand">DATA.GOV.NG</span><br><span style="font-size: medium"> FEDERAL MINISTRY OF COMMUNICATION TECHNOLOGY</span></h2></div>
            <div class="search visible-lg visible-md">
               <form class="navbar-form">
                   <div class="input-group">
                       <input type="text" class="form-control" placeholder="Search Data.gov.ng" aria-describedby="basic-addon1">
                       <span class="input-group-btn">
                           <button class="btn btn-default" type="button">
                               <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                           </button>
                      </span>
                   </div>
                
              </form>
            </div>          
      </div>
      </header>
      <nav class=" navbar-default">
          <div class="container">
              
              <div class="navbar-header">
                <div class="visible-sm visible-xs navbar-form navbar-left" role="search">
                    <form class="navbar-form">
                     <input type="text" class="form-control" placeholder="Search Data.gov.ng">
                   </form>
                 </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav nav-pills mynav visible-lg visible-md">
                        <li role="presentation"><a href="/">HOME</a></li>
                        <li role="presentation"><a href="/dataset">DATA</a></li>
                        <li role="presentation"><a href="#">INNOVATION</a></li>
                        <li role="presentation"><a href="#">DEVELOPERS</a></li>
                        <li role="presentation"><a href="#">REQUEST A DATASET</a></li>
                        <li role="presentation"><a href="#">CONTACT</a></li>
                      </ul>
                    
                    <ul class="nav mynav visible-sm visible-xs">
                        <li class="col-xs-12" role="presentation"><a href="#">HOME</a></li>
                        <li class="col-xs-12" role="presentation"><a href="#">DATA</a></li>
                        <li class="col-xs-12" role="presentation"><a href="#">INNOVATION</a></li>
                        <li class="col-xs-12" role="presentation"><a href="#">DEVELOPERS</a></li>
                        <li class="col-xs-12" role="presentation"><a href="#">REQUEST A DATASET</a></li>
                        <li class="col-xs-12" role="presentation"><a href="#">CONTACT</a></li>
                      </ul>
                </div><!-- /.navbar-collapse -->
           
          </div>
      </nav>
      
      <div class="jumbotron horizontal_space">
          <div class="container">
              <h5>BROWSE DATASETS BY SECTORS</h5>
              <div class="row sectors">
                  <div class="col-md-2 col-sm-4 col-xs-6">
                      <a href=""><img src="/images/agric.png" ><br>
                            Agriculture</a>
                        </div>
                        
                        

                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <a href=""><img src="/images/business.png"><br>
                            Trade</a>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <a href=""><img src="/images/petroleum.png"><br>
                            Petroleum</a>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <a href=""><img src="/images/education.png"><br>
                            Education</a>
                        </div>

                          <div class="col-md-2 col-sm-4 col-xs-6">
                            <a href=""><img src="/images/commerce.png"><br>
                            Commerce</a>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <a href=""><img src="/images/energy.png"><br>
                            Energy</a>
                        </div>
              </div>
              <div class="row sectors">
                   <div class="col-md-2 col-sm-4 col-xs-6">
                                <a href=""><img src="/images/finance.png"><br>
                                Finance</a>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <a href=""><img src="/images/health.png"><br>
                                Health</a>
                            </div>

                             <div class="col-md-2 col-sm-4 col-xs-6">
                                <a href=""><img src="/images/science.png"><br>
                                Technology</a>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <a href=""><img src="/images/transport.png"><br>
                                Transport</a>
                            </div>

                             <div class="col-md-2 col-sm-4 col-xs-6">
                                <a href=""><img src="/images/environment.png"><br>
                                Environment</a>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <a href=""><img src="/images/aviation.png"><br>
                                Aviation</a>
                            </div>
              </div>
              
               <div class="row">
                    <div class="col-md-10">

                    </div>
                   <div class="col-md-2">
                       <a class="btn btn-info" href="#" role="button">More sectors &raquo;</a>
                   </div>
                </div>
                   
          </div>
                      
      </div>
      
      <div class="container">
          
          <h5>NEWS AND UPDATES</h5>
          
          <div class="row news">
               
            <div class="col-md-4">
              <h2>Heading</h2>
              <p><img src="/images/image1.jpg">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <h2>Heading</h2>
              <p> <img src="/images/image2.jpg"> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
           </div>
            <div class="col-md-4">
              <h2>Heading</h2>
              <p><img src="/images/image3.jpg">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
      
          </div>
          <div class="row">
              <div class="col-md-10">
                  
              </div>
                <div class="col-md-2">
                    <a class="btn btn-info" href="#" role="button">More news &raquo;</a>
                </div>
          </div>
          
          
      </div>
      <div class="container">
           <h5>OPEN DATA AND INNOVATION</h5>
          <div class="row news">   
            <div class="col-md-4">
              <h2>Heading</h2>
              <p><img src="/images/image1.jpg">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <h2>Heading</h2>
              <p> <img src="/images/image2.jpg"> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
           </div>
            <div class="col-md-4">
              <h2>Heading</h2>
              <p><img src="/images/image3.jpg">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
      
          </div>
           
      </div>
          
      <div class="container horizontal_space_lg">
               <div class="row od_footer horizontal_space">
                   <div class="col-md-4 col-sm-4 col-xs-12">
                       <h6>LINKS</h6>
                       <ul>
                           <li> 
                               <a href="">About Open Data</a>
                           </li>
                           <li> 
                               <a href="">Enabling Federal Laws</a>
                           </li>
                           <li> 
                               <a href="">Publishers</a>
                           </li>
                           <li> 
                               <a href="">Partners  & <br> Stakeholders</a>
                           </li>
                           <li> 
                               <a href="">Request a Dataset</a>
                           </li>
                           <li> 
                               <a href="">FAQ</a>
                           </li>
                           <li> 
                               <a href="">Contact Us</a>
                           </li>
                       </ul>
                   </div>
                   <div class="col-md-4 col-sm-4 col-xs-12 horizontal_space">
                       <div class="joomla_stw">
                        <a class="twitter-timeline" width="280" height="300" data-theme="light" data-link-color="#0084b4" data-chrome="   " data-border-color="#e8e8e8" data-tweet-limit="0" data-related="" data-screen-name="ngrcommtech" data-show-replies="false" data-aria-polite="Polite" lang="EN" href="https://twitter.com/ngrcommtech" data-widget-id="443342916686053376">Tweets by @ngrcommtech</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                   </div>
                   <div class="col-md-4 col-sm-4 col-xs-12 horizontal_space">
                       <h6>NEWS FEED</h6>
                       <ul>
                           <li></li>
                       </ul>
                   </div>
               </div>
           </div>
      </div>
      <hr>
      <footer>
          <div class="container">
              <p>Copyright(c) 2015 Federal Open Data Portal powered by Federal Ministry of Communication Technology. All Rights Reserved.</p>   
          </div>
      </footer>

       <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
 	<script src="/js/bootstrap.min.js"></script>
  </body>
</html>