{% extends "page.html" %}
     {% block content %}
     
      <div class="jumbotron horizontal_space">
          <div class="container">
              <h5>BROWSE DATASETS BY SECTORS</h5>
              <div class="row sectors">
                  <div class="col-md-2 col-sm-4 col-xs-6">
                      <a href="/group/agriculture"><img src="/images/agric.png" ><br>
                            Agriculture</a>
                        </div>
                        
                        

                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <a href="/group/trade"><img src="/images/business.png"><br>
                            Trade</a>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <a href="/group/petroleum"><img src="/images/petroleum.png"><br>
                            Petroleum</a>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <a href="/group/education"><img src="/images/education.png"><br>
                            Education</a>
                        </div>

                          <div class="col-md-2 col-sm-4 col-xs-6">
                            <a href="/group/commerce"><img src="/images/commerce.png"><br>
                            Commerce</a>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <a href="/group/energy"><img src="/images/energy.png"><br>
                            Energy</a>
                        </div>
              </div>
              <div class="row sectors">
                   <div class="col-md-2 col-sm-4 col-xs-6">
                                <a href="/group/finance"><img src="/images/finance.png"><br>
                                Finance</a>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <a href="/group/health"><img src="/images/health.png"><br>
                                Health</a>
                            </div>

                             <div class="col-md-2 col-sm-4 col-xs-6">
                                <a href="/group/science"><img src="/images/science.png"><br>
                                Science</a>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <a href="/group/transport"><img src="/images/transport.png"><br>
                                Transport</a>
                            </div>

                             <div class="col-md-2 col-sm-4 col-xs-6">
                                <a href="/group/commerce"><img src="/images/environment.png"><br>
                                Environment</a>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <a href="/group/aviation"><img src="/images/aviation.png"><br>
                                Aviation</a>
                            </div>
              </div>
              
               <div class="row">
                    <div class="col-md-10">

                    </div>
                   <div class="col-md-2">
                       <a class="btn btn-info" href="/group" role="button">More sectors &raquo;</a>
                   </div>
                </div>
                   
          </div>
                      
      </div>
      
      <div class="container">
          
          <h5>NEWS AND UPDATES</h5>
          
          <div class="row news">
               
            <div class="col-md-4">
              <h2>Heading</h2>
              <p><img src="/images/image1.jpg">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <h2>Heading</h2>
              <p> <img src="/images/image2.jpg"> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
           </div>
            <div class="col-md-4">
              <h2>Heading</h2>
              <p><img src="/images/image3.jpg">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
      
          </div>
          <div class="row">
              <div class="col-md-10">
                  
              </div>
                <div class="col-md-2">
                    <a class="btn btn-info" href="#" role="button">More news &raquo;</a>
                </div>
          </div>
          
          
      </div>
      <div class="container">
           <h5>OPEN DATA AND INNOVATION</h5>
          <div class="row news">   
            <div class="col-md-4">
              <h2>Heading</h2>
              <p><img src="/images/image1.jpg">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <h2>Heading</h2>
              <p> <img src="/images/image2.jpg"> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
           </div>
            <div class="col-md-4">
              <h2>Heading</h2>
              <p><img src="/images/image3.jpg">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
      
          </div>
           
      </div>
          
{% endblock %}
