{% extends "page.html" %}
     {% block content %}
     
      <div class="jumbotron horizontal_space">
          <div class="container">
              <h5>BROWSE DATASETS BY SECTORS</h5>
              <div class="row sectors">
                  <div class="col-md-2 col-sm-4 col-xs-6">
                      <a href="/group/agriculture"><img src="/images/agric.png" ><br>
                            Agriculture</a>
                        </div>
                        
                        

                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <a href="/group/trade"><img src="/images/business.png"><br>
                            Trade</a>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <a href="/group/petroleum"><img src="/images/petroleum.png"><br>
                            Petroleum</a>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <a href="/group/education"><img src="/images/education.png"><br>
                            Education</a>
                        </div>

                          <div class="col-md-2 col-sm-4 col-xs-6">
                            <a href="/group/commerce"><img src="/images/commerce.png"><br>
                            Commerce</a>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <a href="/group/energy"><img src="/images/energy.png"><br>
                            Energy</a>
                        </div>
              </div>
              <div class="row sectors">
                   <div class="col-md-2 col-sm-4 col-xs-6">
                                <a href="/group/finance"><img src="/images/finance.png"><br>
                                Finance</a>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <a href="/group/health"><img src="/images/health.png"><br>
                                Health</a>
                            </div>

                             <div class="col-md-2 col-sm-4 col-xs-6">
                                <a href="/group/science"><img src="/images/science.png"><br>
                                Science</a>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <a href="/group/transport"><img src="/images/transport.png"><br>
                                Transport</a>
                            </div>

                             <div class="col-md-2 col-sm-4 col-xs-6">
                                <a href="/group/commerce"><img src="/images/environment.png"><br>
                                Environment</a>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <a href="/group/aviation"><img src="/images/aviation.png"><br>
                                Aviation</a>
                            </div>
              </div>
              
               <div class="row">
                    <div class="col-md-10">

                    </div>
                   <div class="col-md-2">
                       <a class="btn btn-info" href="/group" role="button">More sectors &raquo;</a>
                   </div>
                </div>
                   
          </div>
                      
      </div>
      
    <script type="text/javascript">
		
      	
      	
      	$(document).ready(function() {
    		//feed to parse
    		var feed = "wp/index.php/feed/";
    
    $.ajax(feed, {
        accepts:{
            xml:"application/rss+xml"
        },
        dataType:"xml",
        success:function(data) {
            //Credit: http://stackoverflow.com/questions/10943544/how-to-parse-an-rss-feed-using-javascript
			var i=1;
            $(data).find("item").each(function () { // or "item" or whatever suits your feed
                var el = $(this);
               
                if(el.find("category").text().indexOf('News and Update')>-1){
                	 console.log("------------------------");
                	console.log("title      : " + el.find("title").text());
                	console.log("link       : " + el.find("link").text());
                	console.log("description: " + el.find("description").text());
                	console.log("category: " + el.find("category").text());
                	
                	$("#news"+i+"-h").html(el.find("title").text());
                        $("#news"+i+"-p").html(el.find("description").text());
                        $("#news"+i+"-link").attr("href",el.find("link").text());
                        i++;
                }
                if(i==4){
                	return false;
               	}
                
            });
            
            i=1;
            $(data).find("item").each(function () { // or "item" or whatever suits your feed
                var el = $(this);
               
                if(el.find("category").text().indexOf('Ideas')>-1){
                	
                	$("#idea"+i+"-h").html(el.find("title").text());
                        $("#idea"+i+"-p").html(el.find("description").text());
                        $("#idea"+i+"-link").attr("href",el.find("link").text());
                        i++;
                }
                if(i==4){
                	return false;
                }
            });
    
        }   
    });
    
});
      </script>
      <div class="container">
          
          <h5>NEWS AND UPDATES</h5>
          
          <div class="row news">
               
            <div id="news1" class="col-md-4">
              <h2 id="news1-h"></h2>
              <p id="news1-p"></p>
              <p ><a id="news1-link" class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div id="news2"  class="col-md-4">
              <h2 id="news2-h"></h2>
              <p id="news2-p"> </p>
              <p ><a id="news2-link" class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
           </div>
            <div id="news3"  class="col-md-4">
              <h2 id="news3-h"></h2>
              <p id="news3-p"> </p>
              <p ><a id="news3-link" class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
      
          </div>
          <div class="row">
              <div class="col-md-10">
                  
              </div>
                <div class="col-md-2">
                    <a class="btn btn-info" href="/wp/index.php/category/news-and-update/" role="button">More news &raquo;</a>
                </div>
          </div>
                       
      </div>
      <div class="container">
           <h5>OPEN DATA AND INNOVATION</h5>
          <div id="idea1" class="row news">   
            <div class="col-md-4">
              <h2 id="idea1-h"></h2>
              <p id="idea1-p"> </p>
              <p><a id="idea1-link" class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div id="idea2" class="col-md-4">
              <h2 id="idea2-h"></h2>
              <p id="idea2-p"> </p>
              <p><a id="idea2-link" class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
           </div>
            <div id="idea3" class="col-md-4">
              <h2 id="idea3-h"></h2>
              <p id="idea3-p"> </p>
              <p><a id="idea3-link" class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
      
          </div>
           
      </div>
          
{% endblock %}
